# Application Port - KOA server listens on this port (default 3000).
PORT=3000

# Environment - If development, TypeORM will use typescript entities and DB conn will be non SSL
NODE_ENV=development

# JWT secret - JWT tokens should be signed with this value
JWT_SECRET=your-secret-whatever

# DB connection data in connection-string format.
DATABASE_URL=postgres://bazncgvdnsdkwr:135662986290f97221f31058d2c81f0049506dbf740fc92c12b09d96d53a25fa@ec2-54-166-107-5.compute-1.amazonaws.com:5432/d6vcbuq99kj7pa
